<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../base/head'); %>
</head>

<body>

    <%- include('../base/navegation', {variant:'-user'}); %>

    <br>
    <div class="container container-box">
        <div class="text-center">
            <h2>Info del usuario</h2>
        </div>
        <br>
        <form action="./edit-user" method="POST">
            <input type="hidden" name="id" value="<%= register.id %>">
            <div class="row">
                <div class="col-12">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" value="<%= register.username %>">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" id="email" class="form-control" value="<%= register.email %>">
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="telefone" class="form-label">Teléfono</label>
                    <input type="text" name="phone" id="telefone" class="form-control" value="<%= register.phone %>">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" name="name" id="name" class="form-control" value="<%= register.name %>">
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="lastname" class="form-label">Apellido</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" value="<%= register.lastname %>">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label for="gender" class="form-label">Genero</label>
                    <select name="gender" id="gender" class="form-select">
                    <option value="<%= register.state %>" selected>
                        <%= register.gender %>
                    </option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="No binario">No binario</option>
                </select>
                </div>
                <div class="col-lg-6 col-md-12">
                    <label for="cidade" class="form-label">Ciudad</label>
                    <input type="text" name="city" id="cidade" class="form-control" value="<%= register.city %>">
                </div>
                
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label for="estado" class="form-label">Provincia</label>
                    <select name="state" id="estado" class="form-select">
                    <option value="<%= register.state %>" selected>
                        <%= register.state %>
                    </option>
                    <option value="Buenos Aires">Buenos Aires</option>
                    <option value="Buenos Aires Capital">Buenos Aires Capital</option>
                    <option value="Catamarca">Catamarca</option>
                    <option value="Chaco">Chaco</option>
                    <option value="Chubut">Chubut</option>
                    <option value="Cordoba">Cordoba</option>
                    <option value="Corrientes">Corrientes</option>
                    <option value="Entre Rios">Entre Rios</option>
                    <option value="Formosa">Formosa</option>
                    <option value="Jujuy">Jujuy</option>
                    <option value="La Pampa">La Pampa</option>
                    <option value="La Rioja">La Rioja</option>
                    <option value="Mendoza">Mendoza</option>
                    <option value="Misiones">Misiones</option>
                    <option value="Neuquen">Neuquen</option>
                    <option value="Rio Negro">Rio Negro</option>
                    <option value="Salta">Salta</option>
                    <option value="San Juan">San Juan</option>
                    <option value="San Luis">San Luis</option>
                    <option value="Santa Cruz">Santa Cruz</option>
                    <option value="Santa Fe">Santa Fe</option>
                    <option value="Santiago del Estero">Santiago del Estero</option>
                    <option value="Tierra del Fuego">Tierra del Fuego</option>
                    <option value="Tucuman">Tucuman</option>
                </select>
                </div>

                <% if(login_user.is_admin){ %>
                    <div class="col-lg-6 col-md-12">
                        <% if(register.is_admin){ %>
                            <input type="checkbox" class="form-check-input" name="is_admin" id="is_admin" value="is_admin" checked>
                        <% } else{ %>
                            <input type="checkbox" class="form-check-input" name="is_admin" id="is_admin" value="is_admin">
                        <% } %>

                        <label class="form-check-label" for="is_admin">Es administrador</label>
                    </div>
                <% } %>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="float-start">
                        <button type="submit" class="btn primary-btn">Actualizar Usuario</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="float-end">
                        <a href=".." class="btn secondary-btn">Volver al home</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <!-- Vendor JS Files -->
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="public/js/main.js"></script>
</body>

</html>