<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include('../base/head'); %>
</head>

<body>

  <%- include('../base/navegation', {variant:'-user'}); %>
  
  <section class='container mt-5'>
      <%- include('../base/message'); %>

      <br>
      <div class="row container" width="100vw">

        <% if(search){ %>
          <div class="text-center">
            <h2>Busca por "<%= search %>"</h2>
          </div>
        <% } else{ %>
          <div class="text-center">
            <h2>Tabla de usuarios</h2>
          </div>
        <% } %>

         <!-- Con table-responsive se crea un scroll en la tabla -->
         <div class="table-responsive mt-3">
          <table class="table table-striped">
            <thead class="thead-dark">
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Ciudad</th>
              <th scope="col">Es administrador</th>
              <th scope="col">Creado</th>
              <th scope="col">Actualizado</th>
              <th scope="col">Acciones</th>
          </thead>

          <tbody>
            <%- include('../base/table', {variant:'registers'}); %>
          </tbody>
          </table>
        </div>

        <br>
        <br>
        <div class="float-start">
          <a href="./add" class="btn btn-primary">Adicionar usuário</a>
        </div>
      </div>

  </section>
  
  <!-- Vendor JS Files -->
  <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="public/js/main.js"></script>
</body>

</html>