<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../base/head'); %>
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet"> 
</head>

<body>
  <%- include('../base/top_bar'); %>
  <%- include('../base/navegation', {variant:'-user'}); %>

  <%- include('../base/hero'); %>

  <main class="main">

 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title">Compromiso</h4>
          <p class="description">Trabajamos todos los días para brindar un espacio comodo y acojedor a nuestros clientes.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title">Encuestas</h4>
          <p class="description">Realizamos de manera periodica y al azar encuestas de satifacción.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title">Buenas estadisticas</h4>
          <p class="description">El 95% de nuestros clientes afirman estar conformes con nuestro servicio y lo recomiendan.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title">Busquamos las mejores técnicas</h4>
          <p class="description">Parte de nuestro compromiso es buscar y aprender las mejores técnicas sobre tratamiento capilar.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title">Mejora notable</h4>
          <p class="description">Nos expresamos con nuestro cabello, incluso sin quererlo. Y nos escargamos de que tu cabello se luzca.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title">Cumplimiento en horarios</h4>
          <p class="description">Manejamos una estricta y controlada agenda que nos permite asegurar la mejorar atención, con tiempos minimos de espera.</p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">Todos</li>
          <% categories.forEach(function(category) { %>
            
            <li data-filter=".filter-<%= category.name %>"><%= category.name %></li>

          <% }) %>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up">
      <% products.forEach(function(product) { %>
        <div class="col-lg-4 col-md-6 portfolio-item filter-<%= product.category.name %>">        
            <img src="<%= product.link_img %>" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><%= product.name %></h4>
              <p>$ <%= product.price %></p>
              <a href="<%= product.link_img %>" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="<%= product.name %>"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
            
      <% }) %>

      

    </div>

  </div>
</section><!-- End Portfolio Section -->
  </main><!-- End #main -->

  <%- include('../base/footer'); %>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- <script src="js/script.js"></script> -->
  <script src="js/main.js"></script>
</body>

</html>