<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../base/head'); %>
</head>

<body>
  <%- include('../base/top_bar'); %>
  <%- include('../base/navegation', {variant:'-user'}); %>

  <%- include('../base/hero'); %>



  <%- include('../base/footer'); %>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- <script src="js/script.js"></script> -->
  <script src="js/main.js"></script>
</body>

</html>